{% extends "base.html.twig" %}
{% block title %}Ma boutique{% endblock %}

{% block body %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h5>Ma boutique</h5>
        <p class="lead">Ici, vous pouvez ajouter et éditer les produits qui seront disponibles à l'instant dans la boutique.</p>
        <a href="{{ path('add_product') }}" class="btn btn-primary btn-lg">Ajouter un produit</a>
    </header>

    {% include 'incs/product_list.html.twig' with {'products' : products, 'routeName': 'product_paginated'} %}

{% endblock %}