{% extends "base.html.twig" %}

{% block body %}
    {# Commentaire #}
    <h1> Zalmo</h1>
    <h2>La maison du Bio</h2>

    {% include 'incs/product_list.html.twig' with {'products' : products, 'routeName': 'home_paginated'} %}


{% endblock %}